[Desktop Entry]
Name=SDG Chat
Comment=SDG Group Google Chat in surf
Exec=/bin/bash /home/andrea/dev/dots/chat.sh
Terminal=false
PrefersNonDefaultGPU=false
Icon=internet-chat
Type=Application
StartupWMClass=sdg-chat
