[Desktop Entry]
Name=SDG Gmail
Comment=SDG Group Gmail in surf
Exec=/bin/bash /home/andrea/dev/dots/gmail.sh
Terminal=false
PrefersNonDefaultGPU=false
Icon=gmail
Type=Application
StartupWMClass=sdg-gmail
