[Desktop Entry]
Name=SDG Calendar
Comment=SDG Group Google Calendar in surf
Exec=/bin/bash /home/andrea/dev/dots/calendar.sh
Terminal=false
PrefersNonDefaultGPU=false
Icon=x-office-calendar
Type=Application
StartupWMClass=sdg-calendar
