[Desktop Entry]
Name=SDG Drive
Comment=SDG Group Google Drive in surf
Exec=/bin/bash /home/andrea/dev/dots/sdrive.sh
Terminal=false
PrefersNonDefaultGPU=false
Icon=folder-remote
Type=Application
StartupWMClass=sdg-sdrive
